USE [master]
GO
/****** Object:  Database [MusteriFatura]    Script Date: 3.10.2023 09:18:43 ******/
CREATE DATABASE [MusteriFatura]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusteriFatura', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MusteriFatura.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusteriFatura_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MusteriFatura_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusteriFatura].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusteriFatura]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 3.10.2023 09:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[MessageTemplate] [nvarchar](max) NULL,
	[Level] [nvarchar](max) NULL,
	[TimeStamp] [datetime] NULL,
	[Exception] [nvarchar](max) NULL,
	[Properties] [nvarchar](max) NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Malzeme]    Script Date: 3.10.2023 09:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Malzeme](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [nvarchar](150) NOT NULL,
	[Markasi] [nvarchar](150) NOT NULL,
	[SonKullanmaTarihi] [date] NOT NULL,
	[Aktif] [bit] NOT NULL,
 CONSTRAINT [PK_Malzeme] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteri]    Script Date: 3.10.2023 09:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](150) NOT NULL,
	[Soyad] [nvarchar](150) NOT NULL,
	[TCKNVKN] [bigint] NOT NULL,
	[DogumTarihi] [date] NOT NULL,
	[Aktif] [bit] NOT NULL,
 CONSTRAINT [PK_Musteri] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisFaturasi]    Script Date: 3.10.2023 09:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisFaturasi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BelgeNo] [bigint] NOT NULL,
	[BelgeTarihi] [date] NOT NULL,
	[MusteriID] [int] NOT NULL,
 CONSTRAINT [PK_SatisFaturasi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisFaturasiSatirlari]    Script Date: 3.10.2023 09:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisFaturasiSatirlari](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SatirNo] [int] NOT NULL,
	[Miktar] [tinyint] NOT NULL,
	[BirimFiyat] [decimal](18, 2) NOT NULL,
	[SatisFaturasiID] [int] NOT NULL,
	[MalzemeID] [int] NOT NULL,
	[Tutar]  AS ([Miktar]*[BirimFiyat]) PERSISTED,
 CONSTRAINT [PK_SatisFaturasiSatirlari] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (1, N'Now listening on: "https://localhost:7051"', N'Now listening on: {address}', N'Information', CAST(N'2023-10-03T06:46:11.223' AS DateTime), NULL, N'<properties><property key=''address''>https://localhost:7051</property><property key=''EventId''><structure type=''''><property key=''Id''>14</property><property key=''Name''>ListeningOnAddress</property></structure></property><property key=''SourceContext''>Microsoft.Hosting.Lifetime</property></properties>')
INSERT [dbo].[Logs] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (2, N'Now listening on: "http://localhost:5041"', N'Now listening on: {address}', N'Information', CAST(N'2023-10-03T06:46:11.227' AS DateTime), NULL, N'<properties><property key=''address''>http://localhost:5041</property><property key=''EventId''><structure type=''''><property key=''Id''>14</property><property key=''Name''>ListeningOnAddress</property></structure></property><property key=''SourceContext''>Microsoft.Hosting.Lifetime</property></properties>')
INSERT [dbo].[Logs] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (3, N'Application started. Press Ctrl+C to shut down.', N'Application started. Press Ctrl+C to shut down.', N'Information', CAST(N'2023-10-03T06:46:11.237' AS DateTime), NULL, N'<properties><property key=''SourceContext''>Microsoft.Hosting.Lifetime</property></properties>')
GO
SET IDENTITY_INSERT [dbo].[Logs] OFF
GO
SET IDENTITY_INSERT [dbo].[Malzeme] ON 

INSERT [dbo].[Malzeme] ([ID], [UrunAdi], [Markasi], [SonKullanmaTarihi], [Aktif]) VALUES (1, N'iPhone 15', N'Apple', CAST(N'2023-03-10' AS Date), 1)
INSERT [dbo].[Malzeme] ([ID], [UrunAdi], [Markasi], [SonKullanmaTarihi], [Aktif]) VALUES (2, N'LG G10', N'LG', CAST(N'2023-03-10' AS Date), 0)
INSERT [dbo].[Malzeme] ([ID], [UrunAdi], [Markasi], [SonKullanmaTarihi], [Aktif]) VALUES (5, N'Samsung Galaxy S23', N'Samsung', CAST(N'2023-03-10' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Malzeme] OFF
GO
SET IDENTITY_INSERT [dbo].[Musteri] ON 

INSERT [dbo].[Musteri] ([ID], [Ad], [Soyad], [TCKNVKN], [DogumTarihi], [Aktif]) VALUES (3, N'Müşteri Ad 1', N'Müşteri Soyad 1', 561235123, CAST(N'2023-03-10' AS Date), 0)
INSERT [dbo].[Musteri] ([ID], [Ad], [Soyad], [TCKNVKN], [DogumTarihi], [Aktif]) VALUES (5, N'NetCore 6', N'MVC Core', 123456789, CAST(N'2023-03-10' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Musteri] OFF
GO
SET IDENTITY_INSERT [dbo].[SatisFaturasi] ON 

INSERT [dbo].[SatisFaturasi] ([ID], [BelgeNo], [BelgeTarihi], [MusteriID]) VALUES (3, 123, CAST(N'2023-03-10' AS Date), 3)
INSERT [dbo].[SatisFaturasi] ([ID], [BelgeNo], [BelgeTarihi], [MusteriID]) VALUES (8, 767, CAST(N'2023-03-10' AS Date), 5)
SET IDENTITY_INSERT [dbo].[SatisFaturasi] OFF
GO
SET IDENTITY_INSERT [dbo].[SatisFaturasiSatirlari] ON 

INSERT [dbo].[SatisFaturasiSatirlari] ([ID], [SatirNo], [Miktar], [BirimFiyat], [SatisFaturasiID], [MalzemeID]) VALUES (5, 125, 2, CAST(130.00 AS Decimal(18, 2)), 3, 2)
INSERT [dbo].[SatisFaturasiSatirlari] ([ID], [SatirNo], [Miktar], [BirimFiyat], [SatisFaturasiID], [MalzemeID]) VALUES (9, 888, 3, CAST(125.75 AS Decimal(18, 2)), 3, 2)
INSERT [dbo].[SatisFaturasiSatirlari] ([ID], [SatirNo], [Miktar], [BirimFiyat], [SatisFaturasiID], [MalzemeID]) VALUES (10, 999, 7, CAST(135.15 AS Decimal(18, 2)), 8, 5)
SET IDENTITY_INSERT [dbo].[SatisFaturasiSatirlari] OFF
GO
ALTER TABLE [dbo].[SatisFaturasi]  WITH CHECK ADD  CONSTRAINT [FK_SatisFaturasi_Musteri] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteri] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisFaturasi] CHECK CONSTRAINT [FK_SatisFaturasi_Musteri]
GO
ALTER TABLE [dbo].[SatisFaturasiSatirlari]  WITH CHECK ADD  CONSTRAINT [FK_SatisFaturasiSatirlari_Malzeme] FOREIGN KEY([MalzemeID])
REFERENCES [dbo].[Malzeme] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisFaturasiSatirlari] CHECK CONSTRAINT [FK_SatisFaturasiSatirlari_Malzeme]
GO
ALTER TABLE [dbo].[SatisFaturasiSatirlari]  WITH CHECK ADD  CONSTRAINT [FK_SatisFaturasiSatirlari_SatisFaturasi] FOREIGN KEY([SatisFaturasiID])
REFERENCES [dbo].[SatisFaturasi] ([ID])
GO
ALTER TABLE [dbo].[SatisFaturasiSatirlari] CHECK CONSTRAINT [FK_SatisFaturasiSatirlari_SatisFaturasi]
GO
USE [master]
GO
